@font-face {
  font-family: 'Star Jedi';
  src: url('fonts/star-jedi_[allfont.net].ttf');
}

body {
  background-image: url('backgrounds/Hoth.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  padding: 40px;
  font-family: 'Star Jedi';
  max-width: 100%;
  overflow-x: hidden;
  text-align: center;
}